@model CRUDSQLServer.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1 class="h1-index">Detalhes</h1>

<div>
    <h4 class="h4">Funcionario</h4>
    <hr />
    <dl style="color: white;" class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirtName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    <a class="btn-Edit" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a style="color: white;" asp-action="Index">Voltar para a lista</a>
</div>
