@model IEnumerable<CRUDSQLServer.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h1-index">Funcionarios</h1>

<p>
    <buton class="btn-criar" > <a class="btn-criar a" asp-action="Create">Adicionar funcionario</a> </buton>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirtName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <a class="btn-Edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn-Details" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn-Delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
